@font-face {
    font-family: "bit-Arcade-In";
    src: url(../fonts/8-bit\ Arcade\ In.ttf);
}
@font-face {
    font-family: "bit-Arcade-out";
    src: url(../fonts/8-bit\ Arcade\ Out.ttf);
}
@font-face {
    font-family: "Minecraft";
    src: url(../fonts/Minecraft.ttf);
}
@font-face {
    font-family: "pixeled";
    src: url(../fonts/Pixeled.ttf);
}